<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net debug="false">
    <appender name="DataSupplierAppender" type="Taygeta.Repositories.Logging.DataSupplierAppender">
      <bufferSize value="100" />
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="DataSupplierAppender" />      
    </root>
  </log4net>
</configuration>