@using System.Security.Claims
@inject Microsoft.AspNet.Mvc.Localization.IViewLocalizer Localizer

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="Manage" asp-action="Index" title="Manage">@Localizer["helloString", User.GetUserName()]</a>
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">@Localizer["logoutString"]</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">@Localizer["registerString"]</a></li>
        <li><a asp-controller="Account" asp-action="Login">@Localizer["loginString"]</a></li>
    </ul>
}
